.BBhomeBackground{
    background-image: url("../images/IMG_9297.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    /*margin-left: auto;
    margin-top: 5%;*/
    margin-top: 5px;
    width: 25%;
    display: block;
    margin: auto;
}
