.BBhomeBackground{
    background-image: url("../images/IMG_9297.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    /*margin-left: auto;
    margin-top: 5%;*/
    margin-top: 50px;
    width: 25%;
    display: block;
    margin: auto;
}

/*
.contactbutton {
    background-color: orange;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
*/

.contbutton{
    background-color: #FE9C16 !important;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.textright{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
}

.textleft{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.imgright{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.imgleft{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.rowsidemargin{
    margin-left: 10px;
    margin-right: 1px;
}

.bottomline {
    padding-bottom: 100px;
    border-bottom: 5px solid black;
}

.topline{
    padding-top: 10px;
    border-top: 5px solid black;
}

.paragraph{
    color: black;
}

.paragraph diftext {
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: left;

}



footer{
    background-color:#222222;
    padding: 60px 0px;
}

footer ul{
    list-style:none;
    margin:0 auto;
    display:inline-block;
    padding-top:50px;
}

footer ul li{
    float:left;
}

footer ul li a{
    color:#b1aca1;
    padding:20px;
}

footer ul li a:hover{
    color:#7dabdb;
    text-decoration:none;
}

.footer-top{
    padding-bottom:50px;
}

.footer-top .fa{
    font-size:18px;
    color: #FFF;
    padding-right:10px;
}

.footer-top a{
    color:#FFF;
    text-decoration:none;
}

.footer-top .col-lg-2:hover .fa , .footer-top .col-lg-2:hover a{
    color:#7dabdb;
}



.copyright p{
    font-size:12px;
    padding:15px 0 10px 0;
    color: white
}
