.BBhomeBackground{
    background-image: url("../images/IMG_9297.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    /*margin-left: auto;
    margin-top: 5%;*/
    margin-top: 50px;
    width: 25%;
    display: block;
    margin: auto;
}

/*
.contactbutton {
    background-color: orange;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
*/

.contbutton{
    background-color: #FE9C16 !important;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.textright{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.textleft{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.imgright{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
}

.imgleft{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.rowsidemargin{
    margin-left: 1px;
    margin-right: 1px;
}

.bottomline {
    padding-bottom: 300px;
    border-bottom: 5px solid black; /* whichever color you prefer */
}

.topline{
    padding-top: 10px;
    border-top: 5px solid black;
}
