.contact-page-box {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 25px;
	background-color: orange;
	border-radius: 5px;
	border: none;
	border-bottom: 4px solid black;
}

.a {
	padding-top:25px;
}


.b {
	margin-top:50px;
}

.c {
	margin-bottom: 20px;
}

.d {
	margin-top:10px;
}

.rowsidemargin{
    margin-left: 10px;
    margin-right: 10px;
}

.paragraphleft{
    text-align: left;
}

.paragraphleft titel {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

.oranje {
	background-color: #FE9C16 !important;

}
.white {
	color: white;
}

.formdinges{
    height: 200px
}

.checkboxding{
    height: 250px;
    width: 250px;
}


