.contact-page-box {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 25px;
	background-color: orange;
	border-radius: 5px;
	border: none;
	border-bottom: 4px solid black;
}
.paddingtop {
	padding-top: 25px;
}
.margintop {
	margin-top: 20px;
}

.marginbottom {
	margin-bottom: 20px;
}

#button1{
	color: #FFFFFF;
	background-color: #FFA500;
	border-color: #FFA500;
}
#button1:hover {
	color: #FFFFFF;
	border-color: #ffc966;
	background-color: #ffc966;
}

#panel{
    color: #FFFFFF;
	background-color: #FFA500;
}

.lowborder {
	border-bottom: 4px solid #FE9C16;
	border-radius: 5px;
}

.g-recaptcha {
	margin: 0;
}

body > div.rc-anchor.rc-anchor-normal.rc-anchor-light {
   width: 82% !important;
}

@media only screen and (min-width : 992px) {
	.g-recaptcha {
		margin: 0 20%;
	}

	body > div.rc-anchor.rc-anchor-normal.rc-anchor-light {
		 width: 300px !important;
	}
}
