body {
	background-color: #ECEAE8;
	margin: 75px 0 0 0;
	padding: 0;
}

.navbar {
	z-index: 2;
	margin-top: -75px;
	position: fixed;
	width: 100%;
	height: 75px;
	background: #fff;
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	box-shadow: 0 0 2px #7b7b7b;
}

.navbar-brand > img {
	width: 180px;
	margin-top: -9px;
}

.nav-item {
	font-size: 18px !important;
}

.navbar-default .navbar-toggle {
	border: none;
}

.navbar-toggle {
	margin-top: 18px;
}

.footer-rights {
	position: fixed;
	bottom: 0;
	color: #a0a0a0;
}

.footer-rights > p > a {
	color: #a0a0a0;
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
	.footer-rights {
		margin-top: 75px;
	}
}

.page-box {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 25px;
	background-color: #fff;
	border-radius: 5px;
	border: none;
	border-bottom: 4px solid #FE9C16;
}

.select-btn {
	margin-bottom: 20px;
	background-color: #FE9C16;
	border-radius: 5px;
	border: none;
	border-bottom: 4px solid #A5650E;
}

.select-btn:hover,
.select-btn:focus,
.select-btn:active .select-btn.active.focus,
.select-btn.active:focus,
.select-btn.active:hover,
.select-btn:active.focus,
.select-btn:active:focus,
.select-btn:active:hover,
.open > .dropdown-toggle.select-btn.focus,
.open > .dropdown-toggle.select-btn:focus,
.open > .dropdown-toggle.select-btn:hover {
	background-color: #FE9C16;
	margin-top: 4px;
	margin-bottom: 16px;
	padding-top: 4px;
	border-bottom: 4px solid #FE9C16;
}

.select-logo {
	margin-top: 15px;
	width: 250px;
}

.select-title {
	margin-top: 20px;
	margin-bottom: 30px;
	color: #fff;
	font-size: 32px;
	font-weight: bold;
}

body {
	overflow-x: hidden;
}

.modal-text {
	color: #000;
}

.proper-footer {
	margin-top: 3%;
}

blockquote {
	font-family: Georgia, serif;
	position: relative;
	margin: 0.5em;
	padding: 0.5em 2em 0.5em 3em;
}
/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */
blockquote:before {
	font-family: Georgia, serif;
	position: absolute;
	font-size: 6em;
	line-height: 1;
	top: 0;
	left: 0;
	content: "\201C";
}
blockquote:after {
	font-family: Georgia, serif;
	position: absolute;
	/* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
	float:right;
	font-size:6em;
	line-height: 1;
	right:0;
	bottom:-0.5em;
	content: "\201D";
}
blockquote footer {
	padding: 0 2em 0 0;
	text-align:right;
}
blockquote cite:before {
	content: "\2013";
}

.footer {
	padding: 15px 15px 5px 15px;
	background-color: #3c3c3b !important;
	width: 100% !important;
	color: #bdbdbd;
	position: absolute;
  right: 0;
  left: 0;
}

.footer-title {
	color: #bdbdbd;
}

.footer-item {
	list-style-type: none;
}

.footer-item > a,
.footer-title > a {
	color: #fff;
}

.footer-admin {
	color: #bdbdbd !important;
}

.text-fix {
	margin-left: -40px;
}

@media only screen and (min-width : 992px) {
	.text-md-right {
		text-align: right;
		margin-top: 37px;
	}

	.footer {
		margin-bottom: -50px;
	}
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: transparent;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active {
	background: #fff;
	padding: 15px;
	margin-top: -2px;
}
ul.navbar-nav {
	margin-top: 15px;
}

body > div.rc-anchor.rc-anchor-normal.rc-anchor-light {
   width: 82% !important;
}
