.img {
    padding-top: 8%;
}
.tegel {
    background-color: orange;
}

.tegelimage {
    width: 100%;
}

.border {
    border-bottom: dashed;
}

nav {
    background-color: lightgrey;
    vertical-align: center;
}


h2 {
    text-align: center;
}

.nav {
    display: flex;
    align-items: center;
}
.logo {
    padding: 7px 14px;
}