.page-question {
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: -1.5%;
	color: #3C3C3A;
	font-size: 32px;
}

/*side bar*/
.container-fluid {
    height:92vh;
    width: 15%;
    background-color:#FFFFFF;
    position:fixed;
    z-index:0;
    overflow-y:scroll;
}

.page {
	margin-bottom: 50px;
}

.select-logo {
	margin-top: 0;
	width: 100%;
}

/* Oranje knoppen in het midden, moet een class worden aangemaakt */
body > div.container > div:nth-child(2) {
	padding-left: 7%;
}

/*Buttons*/
#button1{
	color: #FFFFFF;
	background-color: #FFA500;
	border-color: #FFA500;
}
#button1:hover {
	color: #FFFFFF;
	border-color: #ffc966;
	background-color: #ffc966;
}

#button2{
  color: #FFFFFF;
	background-color: #000000;
	border-color: #FFFFFF;
}

#button2:hover{
  color: #FFFFFF;
	background-color: #696969;
	border-color: #696969;
}
/*tabel*/
tr > th{
	color: #FFFFFF;
	background-color: #FFA500;
}

@media only screen and (min-width : 992px) {
	.footer {
		bottom: 0;
	}
}

body > div.modal-backdrop.fade.in {
	display: none;
}
