.tegel {
    background-color: orange;
}

.tegelimage {
    width: 100%;
}

.rechts {
    align-items: right;
}

.logo {
    max-height: 40px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

nav {
    background-color: lightgrey;
}

.img {
    padding-top: 8%;
}