/*side bar*/
.container-fluid{
    height:92vh;
    width: 15%;
    background-color:#FFFFFF;
    position:fixed;
    z-index:1;
    overflow-y:scroll;
}

/*Buttons*/
#button1{
	color: #FFFFFF;
	background-color: #FFA500;
	border-color: #FFA500;
}
#button1:hover {
	color: #FFFFFF;
	border-color: #ffc966;
	background-color: #ffc966;
}

#button2{
  color: #FFFFFF;
	background-color: #000000;
	border-color: #FFFFFF;
}

#button2:hover{
  color: #FFFFFF;
	background-color: #696969;
	border-color: #696969;
}

.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c
}

/*view boxen*/
#viewer-box {
	height: 80vh;
}

.pdf-viewer {
	position: absolute;
	width: 84%;
	height: 90%;
	border: none;
	z-index: 1;
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
	.pdf-viewer {
		width: 94%;
		height: 92%;
	}
}

.pdf-fail {
	margin-top: 30vh;
	text-align: center;
}
