/*side bar*/
.container-fluid{
    height:100%;
    width: 15%;
    background-color:#FFFFFF;
    position:fixed;
    z-index:1;
    overflow-y:scroll;
}

/*view boxen*/
#viewer-box {
	height: 80vh;
}

.pdf-viewer {
	position: absolute;
	width: 84%;
	height: 90%;
	border: none;
	z-index: 1;
}

/*view can*/
#viewer-can {
	height: 80vh;
}

/*table head*/

thead {
	background-color: #FFA500;
	border: 1px solid #FFA500;
}

th > h3 > b {
	color: #FFFFFF;
	margin: 10px 10px 10px 10px;
}

/*table body*/

tbody {
	background-color: #FFE1B9;
}

td > a {
	color: #000000;
}

td {
	border-left: 1px solid #FFA500;
	border-right: 1px solid #FFA500;
	padding-left: 10px;
}

td:hover {
	background-color: #ffc966;
}

/* Buttons */
.btn-lg {
	color: #FFFFFF;
	background-color: #FFA500;
	border-color: #FFA500;
}

.btn-lg:hover {
	color: #FFFFFF;
	border-color: #ffc966;
	background-color: #ffc966;
}

.btn-default {
	background-color: #FFA500;
	border-color: #FFA500;
	color: #FFFFFF;
}

.btn-default:hover {
	color: #FFFFFF;
	border-color: #ffc966;
	background-color: #ffc966;
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
	.pdf-viewer {
		width: 94%;
		height: 92%;
	}
}

.pdf-fail {
	margin-top: 30vh;
	text-align: center;
}
