.page-box {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 25px;
	background-color: #fff;
	border-radius: 5px;
	border: none;
	border-bottom: 4px solid #FE9C16;
}

#pdf-viewer {
	height: 70vh;
}

.pdf-fail {
	text-align: center;
}
