#viewer-box {
	height: 80vh;
}

.pdf-viewer {
	position: absolute;
	width: 84%;
	height: 90%;
	border: none;
	z-index: 1;
}

table{
    border-radius: 5px;
}

h3{
    color: #FFFFFF;
    margin: 10px 10px 10px 10px; /* margin zodat de tekst niet tegen de randjes van de tabel staat (top right bottom left)*/
}

thead{
    background-color: #FFA500;
    border: 1px solid #FFA500; /*border zoals gewenst in schermontwerp*/
    border-bottom: 2px solid #804000;
}

td{
    border-left: 1px solid #FFA500; /*border zoals gewenst*/
    border-right: 1px solid #FFA500; /*border zoals gewenst*/
    padding-left: 10px; /*inspringen zodat de tekst mooi onder de titel staat, margin gebruiken werkte hier niet, ik weet niet waarom*/
}

.bottom{
    border-bottom: 2px solid black; /*bottom class die je meegeeft in de html code aan de TD die de onderste is, op deze manier geeft je alleen die maar een bottom border*/
}

tbody{
    background-color: #FFE1B9;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.pdf-viewer {
		width: 94%;
		height: 92%;
	}
}

.pdf-fail {
	margin-top: 30vh;
	text-align: center;
}

/*footer*/
.footer-top-layout h4 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 21px;
}
.OurBlog > p {
    color: #888888;
}


.footer-top-layout [class*="col-sm-"]:first-child {
    padding: 0;
}
.footer-top-layout [class*="col-sm-"] {
    border-right: 2px solid #333333;
    padding: 0 0 0 28px;

}
.footer-top-layout {
    color: #ffffff;
}


address {
    color: #ffffff;
}


.footer-top-layout [class*="col-sm-"]:last-child {
    border-right: medium none;
}
.footer-top-layout {
    color: #ffffff;
}

.footer-top-layout h4 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 21px;
    padding-top: 21px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 0;
}

.footer-col-item .item-contact a {
    color: #ffffff;
    display: inline-block;
    margin-bottom: 7px;
    width: 100%;
}

.footer-col-item .item-contact a .link-id {
    color: #ffffff;
    margin-left: 0;
    margin-right: 6px;
}
.footer-col-item span {
    margin-left: 7px;
}
.footer-col-item .item-contact a {
    color: #ffffff;
}

.footer-top-layout h4 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 21px;
}
.footer-bottom-layout {
    background: #3c3c3b none repeat scroll 0 0;
    text-align: center;
    color: white;
    width: 100%;
}


.footer-bottom-layout {
    text-align: center;
