/*side bar*/
.container-fluid{
    height:100%;
    width: 15%;
    background-color:#FFFFFF;
    position:fixed!important;
    z-index:-5;
}

/*view boxen*/
#viewer-box {
	height: 80vh;
}

.pdf-viewer {
	position: absolute;
	width: 84%;
	height: 90%;
	border: none;
	z-index: 1;
}

td:hover {
	background-color: #ffc966;
}

th > h3 > b {
	color: #FFFFFF;
	margin: 10px 10px 10px 10px;
	/* margin zodat de tekst niet tegen de randjes van de tabel staat (top right bottom left)*/
}

th > b {
	color: #FFFFFF;
}

thead {
	background-color: #FFA500;
	border: 1px solid #FFA500;
	/*border zoals gewenst in schermontwerp*/
	border-bottom: 2px solid #804000;
}

td > a {
	color: #000000;
}

td {
	border-left: 1px solid #FFA500;
	/*border zoals gewenst*/
	border-right: 1px solid #FFA500;
	/*border zoals gewenst*/
	padding-left: 10px;
	/*inspringen zodat de tekst mooi onder de titel staat, margin gebruiken werkte hier niet, ik weet niet waarom*/
}

.bottom {
	border-bottom: 2px solid black;
	/*bottom class die je meegeeft in de html code aan de TD die de onderste is, op deze manier geeft je alleen die maar een bottom border*/
}

tbody {
	background-color: #FFE1B9;
}

.btn-lg {
	color: #FFFFFF;
	background-color: #FFA500;
	border-color: #FFA500;
}

.btn-lg:hover {
	color: #FFFFFF;
	border-color: #ffc966;
	background-color: #ffc966;
}

.btn-default {
	background-color: #FFA500;
	border-color: #FFA500;
	color: #FFFFFF;
}

.btn-default:hover {
	color: #FFFFFF;
	border-color: #ffc966;
	background-color: #ffc966;
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
	.pdf-viewer {
		width: 94%;
		height: 92%;
	}
}

.pdf-fail {
	margin-top: 30vh;
	text-align: center;
}

/*footer*/

.footer-bottom-layout {
	text-align: center;
